.headline {
  font-size: 3rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.content_container {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content {
  background-color: red;
  /* background-color: var(--dusty-aqua-light); */
  border: 1px solid var(--dusty-aqua);
  /* margin-bottom: 1rem; */
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

/* .content_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem; 
  } */

.xButton {
  max-width: 1rem;
  border-radius: 0.3rem;
  justify-self: center;
  justify-content: center;
  background-color: var(--dusty-aqua);
}
