@import "fonts.css";

:root {
  --dark-blue: #0d2e4d;
  --blue: #164573; /* Primary color; */
  --hover: #2985cc;
  --dusty-blue: #5e7c9a;
  --dusty-blue-light: #93b0cd;
  --dusty-blue-lighter: #bbc8d7;
  --aqua: #4dc4d4; /* Secondary color; */
  --dusty-aqua: #d2dfe0;
  --dusty-aqua-light: #f3f7f7;
  --grey: #e5e5e5;
  --dark-grey: #a2a2a2;
  --status-light-red: #e18c8c;
  --status-red: #f24040; /* Error color; */
  --yellow: #fec315; /* Accent color; */
  --white: #fff;
  --black: #000;

  /* Fonts */
  --font-sans: "Lato", sans-serif;
  --font-serif: "Manus", serif;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

body,
html {
  margin: 0;
}

body {
  font-family: var(--font-sans);
  background: var(--white);
  color: var(--blue);
}

.wrapper {
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
textarea,
button {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: var(--blue);
  /* background-color: #0070f3; */
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background: var(--hover);
}

h2 {
  text-align: center;
}

/* .formWrapper {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
} */

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label,
form input,
form textarea {
  display: block;
  margin-bottom: 1em;
}

form input,
form textarea {
  width: 100%;
}

form button[type="submit"] {
  display: block;
  margin-top: 1em;
}

input,
textarea {
  width: 100%;
  max-width: 300px;
}

.headline {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.Home_content__bX2HC {
  margin-top: 3em;
}

.formWrapper {
  margin-left: 24em;
  margin-right: 20em;
  margin-bottom: 3em;
}

select#property-type {
  padding: 0.5em;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.buyer {
  border: 1px solid black;
  padding: 20px;
}

.thanks {
  margin-top: 2em;
  text-align: center;
}

.heart {
  display: block;
  margin: 0 auto;
  margin-bottom: 3em;
}

.ref-customer {
  margin-top: 2em;
  margin-bottom: 2em;
  border: dashed;
  border-radius: 12px;
  background-color: lightblue;
  width: 12em;
}

.ref {
  margin-left: 0.5em;
}

#return {
  display: block;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  border: 1px dashed black;
  width: 15%;
  margin-left: 1em;
  border-radius: 16px;
  background-color: #93d0fe;
}

#selectedBuyers {
  margin-right: 26em;
}

#contactform {
  margin-left: 33em;
}

.dashboardul {
  width: 100%;
}

#dashbutton {
  margin-right: 8em;
  float: right;
}
