/* @import "./src/styles/globals.css"; */
/* @import "fonts.css"; */

.headline {
  font-size: 3rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.content_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: aquamarine; */
  gap: 1rem;

}

.content {
  
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
  width: 25rem;
  height: auto;
  /* overflow: visible; */
  overflow-wrap:break-word;
  
  
  /* max-width: 50vw; */
  /* overflow:-moz-hidden-unscrollable; */
  /* word-wrap: break-word; */

  /* overflow-wrap: normal; */
  /* overflow-wrap: break-word; */

}

.content p{
  /* word-wrap: break-word; */
  /* --font-sans: "Lato", sans-serif;  this doesnt show the right font as it should??*/
  font-family: lato;

}

.content :first-child {
  margin-top: 0;


}
.content :last-child {
  margin-bottom: 0;
}
