/* just changed the name of the file to buyers.module.css

/* @import "./src/styles/globals.css"; */
/* @import "fonts.css"; */

/* @import "./src/styles/globals.css"; */
/* @import "fonts.css"; */

.headline {
  font-size: 2rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.content_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: aquamarine; */
  gap: 3rem;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
  width: 25rem;
  height: auto;
  /* overflow: visible; */
  overflow-wrap: break-word;

  /* max-width: 50vw; */
  /* overflow:-moz-hidden-unscrollable; */
  /* word-wrap: break-word; */

  /* overflow-wrap: normal; */
  /* overflow-wrap: break-word; */
}

.content p {
  /* word-wrap: break-word; */
  /* --font-sans: "Lato", sans-serif;  this doesnt show the right font as it should??*/
  font-family: lato;
}

.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.content input {
  width: auto;
  box-shadow: none;
  margin: 0 0 2rem 0;
}

.content {
  overflow: hidden;
  white-space: pre-wrap;
}

.text {
  max-width: 100%;
}

.checkbox-container {
  display: block;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;
}

.family {
  display: block;
  margin: 0 auto;
  margin-bottom: 3em;
}

.pre {
  max-width: 600px;
  word-wrap: break-word;
  margin-bottom: 1em;
}

.content p {
  white-space: pre-wrap;
}

.content input {
  width: auto;
  box-shadow: none;
  margin: 0 0 2rem 0;
}

.content {
  overflow: hidden;
  white-space: pre-wrap;
}

.text {
  max-width: 100%;
}

.checkbox-container {
  display: block;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;
}

.family {
  display: block;
  margin: 0 auto;
  margin-bottom: 3em;
}

.pre {
  max-width: 600px;
  word-wrap: break-word;
  margin-bottom: 1em;
}

.content p {
  white-space: pre-wrap;
}

.content input {
  width: auto;
  box-shadow: none;
  /* float: right; */
  margin: 0 0 2rem 0;
}

/* .content .checkbox{
/* trying to find the tag to change the style of the checkbox color etc. */

.button:hover {
  background: var(--hover);
}

.assets {
  width: 1rem;
  height: 1rem;
}

.icontext {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 1.5rem 0;
}

.icontext p {
  margin: 0 0 0 1rem;
}

.id_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
}

.id_checkbox h2 {
  margin: 0;
}

.id_checkbox input {
  position: relative;
  left: 4rem;
}
